@use '../base' as *;

.contact {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    background: transparent;
    border-radius: 2px;
    border: solid 1px transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    

    .contact_link {
        position: relative;
        font-weight: 100;
        font-size: $font-size-m;
        text-decoration: none;
        color: $color-white;
        transition: all 0.4s ease-out;
        
        span {
            font-family: $font-nav;
            padding: 0.25rem 0.5rem 0;
            >svg {
                color: $color-5;
                filter: drop-shadow(1px 1px 1px rgba(3, 3, 3, 0.719));
                transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

        }

        @media screen and (max-width: 50em) {
            font-size: $font-size-base;
            font-weight: $font-bold;
            color: $color-black;
        }
        &:hover {
            transform: rotate(-10deg);  
            }
          }
    
    

    

      @media screen and (max-width: 50em){
          display: block;
          justify-content: center;
        width: 100px;
        
        .contact_link {
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
           span:first-of-type {
               svg {
                visibility: hidden;
               }
           }
           
        }
    }
}
  