@use '../base/' as *;
.navbar {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  font-size: 1.2rem;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;  
}

.hide {
  width: 100%;
  z-index: 40;
  border-bottom: 10px solid $color-client-2;
  position: fixed;
  transform: translateY(-105px);
  transition: all 0.4s ease;
}

.bgscroll {
  transition: 0.3s ease;
  background: $color-gradient;
  & .nav_links {
    color: #555555;
    text-shadow: 2px 2px 1px black;
  }
}

.nav_menu {
  position: relative;
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  transition: all 0.4s ease;

  
&:last-child {
  padding-right: 4rem;
}

}

.nav_item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  overflow: hidden;
  z-index: 100;
  cursor: pointer;
}

a .mobile {
  display: none;
}

.menu_btn {
  display: none;
  cursor: pointer;
}

.nav_links {
  position: relative;
  font-size: $font-size-ml;
  font-weight: 400;
  color: $color-1;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  align-items: center;

  :nth-child(1) {
    padding: 0.025rem;
    margin-right: 0.15rem;
    margin-top: 0.1rem;
  }  

  > span {
    position: relative;
    font-family: $font-nav;
    text-shadow: 1px 1px 1px black;
    pointer-events: none;

    
    
  }
  
  @media screen and (max-width: 1440px){
    font-size: 1rem;
  }
}


.svg {
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;

  > .anicircle {
    fill: none;
    stroke-width: 1px;
    stroke: white;
    stroke-dasharray: 300 300;
    stroke-dashoffset: 300;
    transition: stroke-dashoffset 1000ms linear;
    pointer-events: none;
  }
}

.nav_item:hover {
  background: transparent;

 & .nav_links {
    color: rgb(107, 107, 107);
  }
  & .anicircle {
    stroke-dashoffset: 0;
  }

  .link_icon {
     
    transform: rotate(0.2deg) translateX(-2px);
    svg path {
      fill: $color-4;
    }
  }  
} 

@media screen and (max-width: 1440px) {
  .nav_menu {
    margin-right: 1rem;    
  }
}


@media screen and (max-width: 960px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0; 
    max-width: 100vw;
  }

  .menu_btn {    
    position: fixed;
    top: 2vh;
    right: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    cursor: pointer;
    padding: 1.25rem 0.25rem;
    border-radius: 50%;
    background-color: $color-2;
    outline: none;
    border: none;
    box-shadow: 0 0 2px 2px rgba(8, 8, 8, 0.205);

    &:hover {
      background-color: lighten($color-2, 10%);
    }
    
  }

  .svg {
    visibility: hidden;
  }
  .nav_icon {
    color: $color-white;
    font-size: 2rem;
  } 
   

  .nav_menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(110%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;

    .nav_item:nth-child(1) {
      margin-top: 10rem;
    }
    .nav_item {
      left: 30vw;
      height: fit-content;
    }

    .nav_links {
      padding: 1rem 2rem 1rem 0rem;
      border-radius: 2px;
      display: block;
    }

  }

  .nav_menu.active {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-bg;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;

  }
  .nav_item a:before {
   opacity: 0;  
  }

}

@media (min-width: 769px) and 
       (max-width: 1024px) and 
       (-webkit-min-device-pixel-ratio: 2),
       (min-width: 769px) and 
       (max-width: 1024px) and 
       (min-resolution: 192dpi) {
        .menu_btn {
          top: 8rem;
          right: 2rem;
          &:hover {
            background-color: lighten($color-client-2, 5%);
          }
          
        }
}

@media screen and (max-width: 768px) {
   
  .nav_menu {

    .nav_item {
      left: 10vw;
      padding: 0 0.5rem;
      text-align: left;
    }

    .nav_item:nth-child(1) {
      margin-top: 8rem;
    }

    .nav_links {
      width: 40%;
      font-size: $font-size-base;
      
    }

    .nav_links:hover {
      background-color: $color-client-3;
      color: $color-1;
    }
  }
  .nav_item a:before {
   opacity: 0;  
  }
}
@media screen and (max-width: 360px) {

  .nav_menu {

    .nav_item {
      left: 1vw;
    }

    .nav_item:nth-child(1) {
      margin-top: 4rem;
    }

    .nav_links {
      font-size: $font-size-s;
      padding: 1rem 0rem 1rem 0rem;
      border-radius: 2px;
      display: inline;
      text-align: left;
      width: 120px;
    }

    .nav_links:hover {
      background-color: $color-client-3;
    }
  }
  .nav_item a:before {
   opacity: 0;  
  }
  
}