.landing {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        color: white;
        
    }
}