.house  {
    position: absolute;
    top: 100px;
    width: 100%;
    background: linear-gradient(to top, #D4D8FB, rgb(51, 74, 151));
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow-x: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(to top, #292929d9, #1b1b1b);            
    }

    &.morning {
        background: linear-gradient(to top, #eed236a2, rgb(132, 183, 224));
    }
    &.day {
        background: linear-gradient(to top, #D4D8FB, rgb(51, 74, 151));
    }
    &.evening {
        background: linear-gradient(to top, #e4d48c, rgb(189, 64, 26));
    }
    &.night {
        background: linear-gradient(to top, #292929d9, #1b1b1b); 
    }

    >svg {
        margin: 5rem;
    }

    h2 {
        position: absolute;
        top: 30vh;
        left: 2rem;
        font-size: 2rem;
        transform: scale(1);
        position: fixed;
    }

    .text_light {
        color: #182a5f;
        font-weight: 800;
    }

    .text_dark {
        color: #fafafa;
        font-weight: 100;
        z-index: 101;
    }
}