.logo {
    position: relative;
    top: 0px;
    left: 2rem;
    width: 36px;
    z-index: 1000;
    transition: all 0.4s ease-in;
    padding: 0.25rem 0;

    @media screen and (max-width: 768px) {
        left: 2rem;
      }
    
    > svg {
        > path {
           stroke: rgb(119, 119, 119);
        }

        filter: drop-shadow(0 1px 1px rgb(0, 0, 0));
    }
}