.rw {
  position: absolute;
  width: 260px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  left: 2vw;
  z-index: 1000;

  @media screen and (max-width: "768px") {
    transform: scale(0.6);
    left: 0vw;
  }
}
