.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 56px;
    z-index: 1000;
    transition: all 0.4s ease-in;

    @media screen and (max-width: 768px) {
        left: 2rem;
      }
    
    > svg {
        > path {
           stroke: rgb(41, 15, 15);
        }

        filter: drop-shadow(0 1px 1px rgb(241, 6, 6));
    }
}