.section {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
    color: black;
    text-align: left;

    >h2 {
        padding: 1rem 2rem;
       /*  background-color: #d6764d; */
        border-radius: 5px;
        margin: 1rem auto;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.103);
        max-height: 200px;
    }

    @media screen and (min-width: 768px) {
        margin: 10rem auto 1rem;

        >h2 {
            margin: 4rem;
        }
    } 

    
}