@use '/src/styles/base/' as *;

$color-gradient: linear-gradient(120deg, rgb(49, 49, 49), #b4b4b4, #9b9b9b, #ffffff, #000000);

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.wrapper {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    transform: rotate(-10deg);
    top: 100px;
    position: relative;
    font-size: 10rem;
    background-image: $color-gradient-white;
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-text-fill-color: transparent;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          filter: drop-shadow(-1px 2px 1px rgb(119, 119, 119)) drop-shadow(0 4px 2px rgba(0, 0, 0, 0.952)) drop-shadow(0 4px 10px rgba(0, 0, 0, 0.137));
          cursor: pointer;
          overflow: hidden;
          z-index: 10;

          @media screen and (max-width: 768px) {
            font-size: 3.5rem;
            margin: 5rem 0;
          }
  }
}

.text-animation {
 
  transform: rotate(-10deg) translateY(50px);
    position: relative;
    display: flex;
    font-size: 8rem;        
    cursor: pointer;
    overflow: hidden;
    z-index: 10;

        @media screen and (max-width: 768px) {
          font-size: 3rem;
          
        }


        .first {     
          padding-top: 0rem;    
            padding-right: 2rem;
            @media screen and (max-width: 768px) {
              padding-top: 4rem;
              padding-right: 1rem;
            }
        }
        .last {
            padding-top: 10rem;
            padding-right: 2rem;
            @media screen and (max-width: 768px) {
              padding-top: 3rem;
              padding-right: 1rem;
              &:nth-child(2n) {
                font-size: 2.5rem;
               }
            }
        }
        span {
          display: flex;
          position: relative;
          font-weight: 800;   
          background-image: $color-gradient-black;
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-text-fill-color: transparent;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          filter: drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.418)) drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.24)) drop-shadow(0 0 10px rgba(17, 17, 17, 0.137));

          @media screen and (max-width: 768px) {
            letter-spacing: -.4rem;

            &:nth-child(3n + 1) {
              font-size: 3.5rem;
             }

          }
        }

}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.image_bg{
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.image_bg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.image svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
path:nth-child(4) {
  fill: $color-2;
}
path:nth-child(1) {
  fill: $color-3;
  stroke: $color-5;
  stroke-width: 1px;
}
path:nth-child(2) {
  fill: $color-4;
}
path:nth-child(3) {
  fill: $color-1;
}

