@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredericka+the+Great&family=Inter:wght@100;400;900&family=Monoton&family=Montserrat+Subrayada:wght@400;700&family=Splash&display=swap');

/* 
font-family: 'Audiowide', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Splash', cursive;
 */
$font-base: 'Inter', sans-serif;
$font-alt:  'Audiowide', cursive;
$font-nav: 'Splash', cursive;
$font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// font-sizes
$font-size-s: 0.75rem;
$font-size-base: 1rem;
$font-size-m: 1.25rem;
$font-size-ml: 1.5rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4.5rem;
$font-size-xxxl: 5.5rem;


// font weight
$font-thin: 100;
$font-normal: 400;
$fw-m: 600;
$font-bold: 800;

